# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [97]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import locale

locale.setlocale( locale.LC_ALL, 'English_United States.1252')
# Made an assumption with that locale. Adjust as appropriate.
locale._override_localeconv = {'n_sign_posn':1}

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [3]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [39]:
# 1. Get the total rides for each city type

# 1a. We must first create an individual data from for each city type. 

urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

# 1b. After creating the individual data type, we can extrapolate individual ride counts

suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]

# 1c. We then now combine by concatinating our Suburban, Rural, and Urban data frames into one df
total_riders = [suburban_ride_count, rural_ride_count, urban_ride_count]

total_rides = pd.concat(total_riders, axis=0, join="inner",
                         ignore_index=False,
                         keys=None,    
                         levels=None,
                         names=None,
                         verify_integrity=False,
                         copy=True,)

# 1d. We can now get the overall total rides for each city type
total_rides.sum()

2375

In [37]:
# Total Uburban Rides

urban_cities_df.groupby(["city"]).count()["ride_id"].sum()

1625

In [41]:
# Total Rural Rides
rural_cities_df.groupby(["city"]).count()["ride_id"].sum()

125

In [40]:
# Total Suburban Rides
suburban_cities_df.groupby(["city"]).count()["ride_id"].sum()

625

In [55]:
# 2. Get the total drivers for each city type

# 2a. Create individual data frames for driver counts

urban_cities_df = city_data_df[city_data_df["type"] == "Urban"]
suburban_cities_df = city_data_df[city_data_df["type"] == "Suburban"]
rural_cities_df = city_data_df[city_data_df["type"] == "Rural"]

# 2b. Extrapolate individual ride counts

suburban_driver_count = suburban_cities_df['driver_count']
rural_driver_count = rural_cities_df['driver_count']
urban_driver_count = urban_cities_df['driver_count']

# 2c. We then now combine by concatinating our Suburban, Rural, and Urban data frames into one df
total_driver = [suburban_driver_count, rural_driver_count, urban_driver_count]

total_drivers = pd.concat(total_driver, axis=0, join="outer",
                         ignore_index=False,
                         keys=None,    
                         levels=None,
                         names=None,
                         verify_integrity=False,
                         copy=True,)

# 2c. We can now get the overall total drivers for each city type
total_drivers.sum()

2973

In [56]:
# Total Uburban Drivers

urban_cities_df['driver_count'].sum()

2405

In [57]:
# Total Rural Drivers

rural_cities_df['driver_count'].sum()

78

In [58]:
# Total Suburban Drivers

suburban_cities_df['driver_count'].sum()

490

In [113]:
# 3. Get the sum of the fares for each city type

sum_urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
sum_suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
sum_rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

# 4a. After creating the individual data type, we can extrapolate average fares

suburban_sum_fare = sum_suburban_cities_df.groupby(["city"]).sum()["fare"]
rural_sum_fare = sum_rural_cities_df.groupby(["city"]).sum()["fare"]
urban_sum_fare = sum_urban_cities_df.groupby(["city"]).sum()["fare"]

# 4c. We then now combine by concatinating our Suburban, Rural, and Urban data frames into one df

sum_fares = [suburban_sum_fare, rural_sum_fare, urban_sum_fare]

sum_fare = pd.concat(sum_fares, axis=0, join="outer",
                         ignore_index=False,
                         keys=None,    
                         levels=None,
                         names=None,
                         verify_integrity=False,
                         copy=True,)

# 2d. We can now get the overall total fares for each city type
print(f"${round(sum_fare.sum(),2)}")

$63538.64

In [114]:
# Total Sum for Suburban Rides

print(f"${round(suburban_sum_fare.sum(),2)}")

$19356.33

In [116]:
# Total Sum for Urban Rides

print(f"${round(urban_sum_fare.sum(),2)}")

$39854.38

In [117]:
# Total Sum for Rural Rides

print(f"${round(rural_sum_fare.sum(),2)}")

$4327.93

In [119]:
# 4. Get the average fare for each city type

fare_urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
fare_suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
fare_rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

# 4a. After creating the individual data type, we can extrapolate average fares

suburban_avg_fare = fare_suburban_cities_df.groupby(["city"]).mean()["fare"]
rural_avg_fare = fare_rural_cities_df.groupby(["city"]).mean()["fare"]
urban_avg_fare = fare_urban_cities_df.groupby(["city"]).mean()["fare"]

# 4c. We then now combine by concatinating our Suburban, Rural, and Urban data frames into one df

avg_fares = [suburban_avg_fare, rural_avg_fare, urban_avg_fare]

avg_fare = pd.concat(avg_fares, axis=0, join="outer",
                         ignore_index=False,
                         keys=None,    
                         levels=None,
                         names=None,
                         verify_integrity=False,
                         copy=True,)

# 2d. We can now get the overall average fares for each city type
print(f"${round(avg_fare.mean(),2)}")

$27.89

In [120]:
# Average Suburban Rides

print(f"${round(suburban_avg_fare.mean(),2)}")

$30.74

In [121]:
# Average Urban Rides

print(f"${round(urban_avg_fare.mean(),2)}")

$24.5

In [122]:
# Average Rural Rides

print(f"${round(rural_avg_fare.mean(),2)}")

$34.64

In [151]:
# 5. Get the average fare per driver for each city type. 

urban_cities_df = city_data_df[city_data_df["type"] == "Urban"]
suburban_cities_df = city_data_df[city_data_df["type"] == "Suburban"]
rural_cities_df = city_data_df[city_data_df["type"] == "Rural"]

# 2b. Extrapolate individual ride counts

suburban_driver_count = suburban_cities_df['driver_count']
rural_driver_count = rural_cities_df['driver_count']
urban_driver_count = urban_cities_df['driver_count']

# 4a. Still using the individual data type for the total and average fares,
#     we can extrapolate average for each driver with each city type

driver_suburban_avg_fare = (fare_suburban_cities_df.groupby(["city"]).sum()["fare"] / suburban_driver_count.count())
driver_rural_avg_fare = (fare_rural_cities_df.groupby(["city"]).sum()["fare"] / rural_driver_count.count())
driver_urban_avg_fare = (fare_urban_cities_df.groupby(["city"]).sum()["fare"] / urban_driver_count.count())

# 4c. We then now combine by concatinating our Suburban, Rural, and Urban data frames into one df

avg_driver_fares = [driver_suburban_avg_fare, driver_rural_avg_fare, driver_urban_avg_fare]

avg_driver_fare = pd.concat(avg_driver_fares, axis=0, join="outer",
                         ignore_index=False,
                         keys=None,    
                         levels=None,
                         names=None,
                         verify_integrity=False,
                         copy=True,)

# 2d. We can now get the overall average fares for each city type
print(f"${round(avg_driver_fare.mean(),2)}")

$11.52

In [152]:
# Total ovrall Average for Suburban drivers

print(f"${round(driver_suburban_avg_fare.mean(),2)}")

$14.94

In [153]:
# Total ovrall Average for Urban drivers

print(f"${round(driver_urban_avg_fare.mean(),2)}")

$9.15

In [154]:
# Total ovrall Average for Rural drivers

print(f"${round(driver_rural_avg_fare.mean(),2)}")

$13.36

In [156]:
# Average fare per Suburban drivers

In [8]:
#  6. Create a PyBer summary DataFrame.

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')